<nav id="sidenav">
  <div class="row">
    <div id="brand" class="twelve columns">
      <%= link_to root_path, id: "logo" do %>
        <%= image_tag "arystar-logo.png" %>
        <h4>Arystar Art <span>by Casey Snow<span></h4>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div id="URLS" class="six columns">
      <%= link_to 'Home', '/' %>
      <%= link_to 'Webcomics', comics_url %>
      <%= link_to 'Art', art_url %>
      <%= link_to 'Animations', animations_url %>
    </div>
  </div>

  <div class="row">
    <div id="copyright" class="twelve columns">
      <h6 id="copy">&copy; 2018 | Brett Goss</h6>
    </div>
  </div>

</nav>
