<nav id="sidenav">
  <div class="row">
    <div id="brand">
      <%= link_to root_path, id: "logo" do %>
        <%= image_tag "arystar-logo.png" %>
        <h4>Arystar Art <span>by Casey Snow<span></h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <span id="URLS">
        <%= link_to 'Home', '/' %>
        <%= link_to 'Webcomics', comics_url %>
        <%= link_to 'Art', art_url %>
        <%= link_to 'Animations', animations_url %>
      </span>
    </div>
  </div>

</nav>
